.button {
  background-color: #cc79a7;
  border: 2px solid black;
  border-radius: 13px;
  height: 45px;
  width: 160px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
.button.color-blind {
  background-color: #cc79a7;
  border: 2px solid black;
}
